// tipografia
$font: 'Montserrat', sans-serif;

//colores
$green : #4CB8B3;
$pink : #f53756;
$yellow: #fef46d;
$purple: #752f97;
$black: #000;
$white: #fff;

//media queries

$telefonos: 480px;
$tablets: 768px;
$desktop: 992px;
